.drop-down {
	position: relative;

	button {
		@include flexCenter;
		justify-content: space-between;
		height: 52px;
		min-width: 158px;
		border-radius: 6px;
		box-shadow: 0 0 6px -3px black;
		padding: 0 16px;
		gap: 24px;
	}

	ul {
		position: absolute;
		width: 100%;
		border-radius: 6px;
		top: calc(100% + 3px);
		left: 0;
		list-style-type: none;
		margin: 0;
		padding: 12px 0;
		box-shadow: 0 0 6px -3px black;

		li {
			background-color: inherit;
			padding: 4px 20px 4px 20px;
			cursor: pointer;
		}

		.selected {
			@include flexCenter;
			justify-content: space-between;
		}
	}
}
