.btn {
	font-family: inherit;
	border: none;
	cursor: pointer;
}

.btn-hover {
	transition: 250ms opacity, 250ms transform;

	@media (hover: hover) {
		&:hover {
			transform: scale(1.1);
		}
	}
}

.icon-button {
	@include flexCenter;
	gap: 8px;
}
