@import "./animations";
@import "./utils";
@import "./breakpoints";
@import "./fonts";
@import "./colors";

// components
@import "./components/NavBar";
@import "./components/searchbar";
@import "./components/loading";
@import "./components/dropdown";
@import "./components/countrieslist";
@import "./components/countrydetail";
@import "./components/filter";
@import "./common";

* {
	box-sizing: border-box;
}

body {
	font-family: "Nunito Sans", sans-serif;
	margin: 0;
}

main {
	width: min(1200px, 90%);
	margin: auto;
}

.non-matching-text {
	margin: 32px;
}
