@import "./animations";
@import "./utils";
@import "./breakpoints";
@import "./fonts";
@import "./colors";

// components
@import "./components/NavBar";

html {
	box-sizing: border-box;
}

body {
	font-family: "Nunito Sans", sans-serif;
	margin: 0;
}

main {
	width: min(1200px, 90%);
	margin: auto;
}

.btn {
	font-family: inherit;
	border: none;
	cursor: pointer;
}

.icon-button {
	@include flexCenter;
	gap: 8px;
}

.filter {
	@include flexCenter;
	justify-content: space-between;
	margin: 36px 0;

	@include max-breakpoint(600px) {
		align-items: start;
		flex-direction: column;
		gap: 24px;
	}
}

.search-bar {
	@include flexCenter;
	justify-content: start;
	height: 52px;
	padding: 0 24px;
	border-radius: 6px;
	width: min(300px, 100%);
	gap: 12px;
	box-shadow: 0 0 6px -3px black;

	input {
		background-color: inherit;
		border: none;
		padding: 12px;
		font-family: inherit;
		flex-grow: 1;

		&:focus {
			outline: 1px solid rgba($color: #000, $alpha: 0.25);
		}
	}

	@include max-breakpoint(600px) {
		width: -webkit-fill-available;
	}
}

.drop-down {
	position: relative;

	button {
		@include flexCenter;
		justify-content: space-between;
		height: 52px;
		min-width: 158px;
		border-radius: 6px;
		box-shadow: 0 0 6px -3px black;
		padding: 0 16px;
		gap: 24px;
	}

	ul {
		position: absolute;
		width: 100%;
		border-radius: 6px;
		top: calc(100% + 3px);
		left: 0;
		list-style-type: none;
		margin: 0;
		padding: 12px 0;
		box-shadow: 0 0 6px -3px black;

		li {
			background-color: inherit;
			padding: 4px 20px 4px 20px;
			cursor: pointer;
		}

		.selected {
			@include flexCenter;
			justify-content: space-between;
		}
	}
}

.countries-list {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 32px;

	@include min-max-breakpoint(0, 480px) {
		grid-template-columns: 1fr;
	}
	@include min-max-breakpoint(480px, 768px) {
		grid-template-columns: repeat(2, 1fr);
	}
	@include min-max-breakpoint(768px, 1024px) {
		grid-template-columns: repeat(3, 1fr);
	}

	.country-card {
		box-shadow: 0 0 6px -3px black;
		border-radius: 6px;

		.flag-img {
			width: 100%;
			padding-top: 56.5%;
			background-size: cover;
			background-position: center;
			border-radius: 6px 6px 0 0;
		}

		.country-info {
			padding: 0 24px 48px;

			.country-name {
				padding: 16px 0;
			}

			& > * > * {
				margin: 0;
			}

			.country-more-info {
				display: flex;
				flex-direction: column;
				gap: 6px;
			}
		}
	}
}

.loading-wrapper {
	@include flexCenter;

	.loader {
		width: 48px;
		height: 48px;
		margin: 32px;
		border-radius: 50%;
		border: 8px solid;
		border-color: transparent;
		animation-name: rotate;
		animation-duration: 800ms;
		animation-iteration-count: infinite;
		animation-timing-function: linear;
	}
	.loader-light {
		border-top-color: map-get($colors, "blue");
		border-bottom-color: map-get($colors, "blue");
	}
	.loader-dark {
		border-top-color: map-get($colors, "vl-gray");
		border-bottom-color: map-get($colors, "vl-gray");
	}
}

.non-matching-text {
	margin: 32px;
}

.country-details {
	@include flexCenter;
	margin-bottom: 32px;
	gap: 10%;

	@include m-screen {
		flex-direction: column;
		align-items: start;
		gap: 48px;

		.country-flag-wrapper {
			width: 100%;
		}
	}

	.country-flag-wrapper {
		flex: 1;

		.country-flag {
			width: 100%;
			padding-top: 60%;
			background-position: center;
			background-size: cover;
		}
	}

	.country-info {
		display: flex;
		flex-direction: column;
		gap: 36px;
		flex: 1;

		@include m-screen {
			padding: 0 24px;
		}

		.country-name {
			margin: 0;
		}

		.country-data {
			display: flex;
			gap: 24px;

			ul {
				flex: 1;
				display: flex;
				flex-direction: column;
				gap: 12px;
				margin: 0;
				padding: 0;
				list-style-type: none;
				gap: 12px;
			}

			@include s-screen {
				flex-direction: column;
				gap: 48px;
			}
		}

		.border-countries {
			.buttons {
				& > * {
					min-width: 64px;
					display: inline-block;
					text-align: center;
					margin: 6px 6px;
					padding: 4px 6px;
					border-radius: 3px;
					box-shadow: 0 0 6px -3px black;
				}
			}
		}
	}
}

.back-button-wrapper {
	margin: max(5%, 36px) 0;

	button {
		border-radius: 4px;
		padding: 4px;
		width: 100px;
		box-shadow: 0 0 6px -3px black;
	}
}
